.title {
    font-size: 24px;
    color: #F9FaF8;
}

.header {
    background-color: #1f2937;
    margin: 0px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

body {
    padding: 0px;
    margin: 0px;
}

.link {
    font-size: 18px;
    color: #e5e7eb;
}

.right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.content {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 100px;

}

.description {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FaF8;
    width: 400px;
}

.paragraph {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
}

.signup {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    height: 25px;
    width: 85px;
}

.pic1 {
    height: 300px;
    width: 450px;
}